{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="icon" href="{% static 'Tickets/favicon/logo_dnr_font.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Tickets/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'Tickets/js/main.js' %}"></script>
    <style type="text/css">
        body {
            background-image: url("{% static 'Tickets/img/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;

            
        }

    </style>
</head>
<body>

    <aside class="sidebar">
        <div class="logo-site">
            <img src="{% static 'Tickets/img/dnr.png' %}">
            <div class="bottom-padding"></div> 
        </div>
        <a href="{% url 'tickets' %}" class="icon-link" id="tickets-link">
            <div class="icon-square">
                <img data-original-src="{% static 'Tickets/img/icon_request_black.png' %}" data-active-src="{% static 'Tickets/img/icon_request_white.png' %}" src="{% static 'Tickets/img/icon_request_black.png' %}" alt="Запрос">
            </div>
            Запрос
        </a>
        <a href="{% url 'c_tickets' %}" class="icon-link" id="c-tickets-link">
            <div class="icon-square">
                <img data-original-src="{% static 'Tickets/img/icon_history_black.png' %}" data-active-src="{% static 'Tickets/img/icon_history_white.png' %}" src="{% static 'Tickets/img/icon_history_black.png' %}" alt="История">
            </div>
            История
        </a>
    </aside>

    <main>
        {% block content %}
        <div class="cards">
            {% for ticket in tickets %}
            <div class="row">
                <div class="card_tickets">
                    <div class="text-square_card">
                        <p>В ожидании</p>
                    </div>
                    <div class='text_tickets'>
                        <p>Номер обращения #{{ ticket.id }}</p>
                        <p>Дата: {{ ticket.date }}</p>
                        <p>Адрес магазина: {{ ticket.store_address }}</p>
                        <p>Название товара: {{ ticket.product_name }}</p>
                        <p>Цена: {{ ticket.price }} ₽</p>
                    </div>
                    <div class="confirm-button">Подтвердить</div> 
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% endblock %}    
    </main>


    
</body>



</html>

